<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>URLShortener</title>
  <link th:href="@{css/styles.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
  <form action="/shorten" method="post" id="url_form">
    <div class="title">YOOOOOOOOOOOO</div>
    <div class="subtitle">Let's make your urls shorter!</div>
    <div class="input-container ic1">
      <input id="urlToShorten" class="input" type="text" name="urlToShorten" placeholder=" "/>
      <div class="cut"></div>
      <label for="urlToShorten" class="placeholder">URL to shorten</label>
    </div>
    <button type="submit" class="submit" id="submitUrl">Shorten</button>
  </form>
</body>
</html>
